N8N_PORT=5678
N8N_HOST=localhost

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=localhost
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n_internal
DB_POSTGRESDB_USER=postgres

N8N_USER_FOLDER=D:\Automation\n8n\data
N8N_RUNNERS_ENABLED=true
